<extend name="personalpage" />

<block name="title">
<title>我的订单</title>
</block>

<block name="content">
<article class="content">
<dl id="member-order-list">
    <dt class="module-title">我的订单</dt>
    <dd class="module-item">
        <ul class="statistic-tags">
            <li class="on"><a href="">全部</a></li>
            <li><a href="">待付款</a></li>
            <li><a href="">待发货</a></li>

            <li><a href="">待收货</a></li>
            <li><a href="">已完成</a></li>
            <li><a href="">已关闭</a></li>
        </ul>


    </dd>
</dl>

<div>
    <form id="orderPayform" method="post"></form>
</div>
        <div class="list-caption">
                <div class="col col0">商品</div>
                <div class="col col1">数量</div>
                <div class="col col2">价格</div>
                <div class="col col3">状态</div>
                <div class="col col4">操作</div>
            </div>
    <foreach name="list" item="v">
    <table class="order-table">
                <colgroup>
                    <col width="155">
                    <col>
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                </colgroup>
                <tbody>
                <tr>
                    <th colspan="6" class="order-title">
                        <ul>
                            <li class="order-number">订单号：<a href="">{$v.id}</a>
                            </li>
                            <li class="order-time">成交时间:
                                {$v.addtime}
                            </li>
                        </ul>
                    </th>
                </tr>
                </tbody>

                <tbody><tr class="order-line">
                    <td colspan="4">
                        <table class="order-sub-table">
                            <colgroup>
                                <col width="155">
                                <col>
                                <col class="col1">
                                <col class="col2">
                            </colgroup>

                                <tbody class="prod-item ">
                                <tr class="prod-line">
                                    <td class="prod-pic">
                                        <a class="figure" href="" target="_blank"><img src="" alt=""></a>
                                    </td>
                                    <td colspan="3">
                                        <table class="prods-info-table">
                                            <colgroup>
                                                <col width="80">
                                                <col>
                                                <col width="66">
                                                <col width="108">
                                            </colgroup>
                                            <tbody>
                                            <tr class="prod-info">
                                                <td class="prod-name" colspan="2">
                                                    <a href="" target="_blank" title="">{$v.name}</a>
                                                       <!--  <br>地址：{$v.address} -->
                                                        <li>地址：{$v.address}{$v.province}{$v.city}{$v.area}</li>
                                                        <li>收货人：{$v.recname}</li>
                                                        <li>联系电话：{$v.recphone}</li>
                                                </td>
                                                <td>{$v.num}</td>
                                                <td>
                                                        {$v.price}
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                        </table>
                                            </td>
                    <td class="status">{$v.status}</td>
                    <td class="operation">
                        <ul>
                            <button value="{$v.status}" onClick="changestatus()">付款</button>
                            <!-- <span value="{$v.status}" onClick="changestatus()"></span> -->
                        </ul>
                    </td>
                </tr>


                <tr class="operation-line">
                    <td colspan="6">
                        总计：<span class="red">
                            <dfn>¥</dfn>{$v.total}
                           </span>
                        (含运费：<dfn>¥</dfn>0.00
                        优惠：
                        <dfn>¥</dfn>0.00
                        )
                    </td>
                </tr>
            </tbody>
            </table>
            </foreach>

    </div>


<!-- <div class="span12 clearfix"> -->

</div>
    </article>
    <script>
    function changestatus()
    {
                
    }
    </script>
</block>